{% extends "temel.html" %} {% block title %}Hesap{% endblock %} {% block content
    %}

    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">

                    <div class="container">

                        <h1 class="fw-light text-dark">Kurslarım</h1>
                        
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mt-2">
                            {% for kurs in kurslar %}
                            <div class="col">  
                                <div class="card h-100 shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                        xmlns="http://www.w3.org/2000/svg" role="img"
                                        aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                        focusable="false">
                                        <title>{{kurs.isim}}</title>
                                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%"
                                            fill="#eceeef" dy=".3em">Kurs fotosu</text>
                                    </svg>

                                    <div class="card-body">
                                            <h4>{{kurs.isim}}</h4>
                                            <p class="card-text">{{kurs.kisa_aciklama}}</p>
                                            <p class="card-text">{{kurs.kategori}} ve {{kurs.egitmen_id}}</p>
                                            {% for egitmen in egitmenler %}
                                            {% if egitmen.id == kurs.egitmen_id %}
                                            <p>{{egitmen.first_name}}</p>
                                            <small class="text-muted">{{egitmen.date}}</small>
                                            {% endif %}
                                            {% endfor %}
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="kurs_profil/{{kurs.id}}" type="button" class="btn btn-outline-dark btn-warning">Kursa git</a>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
        </div>
    </main>
    
    {% endblock %}