{% extends "temel.html" %} {% block title %}Hesap{% endblock %} {% block content %}

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb mt-5 bg-white">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item active text-dark" style="font-size:20px" aria-current="page"> Kullanıcı Profili</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../static/profile_pics/{{user.image_file}}" alt="Admin" class="rounded-circle"
                                width="150" height="150">
                            <div class="mt-4">
                                <h4> {{ user.first_name }} {{ user.last_name }} </h4>
                                <p class="text-secondary mb-2"> {{ user.unvan }} </p>
                                <p class="text-muted font-size-sm">{{ user.ades }}</p>
                                {% if self_profil == 1 %}
                                <div><a href="/profil_ayarları" class="btn btn-outline-dark btn-warning mt-3">Profili
                                        Düzenle</a></div>
                                {% else %}
                                <button class="btn btn-outline-dark btn-warning mt-3">Mesaj gönder</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-github mr-2 icon-inline">
                                    <path
                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                </svg>Github</h6>
                            <span class="text-secondary">{{user.github}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-twitter mr-2 icon-inline text-info">
                                    <path
                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                </svg>Twitter</h6>
                            <span class="text-secondary">@{{user.twitter}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-instagram mr-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>Instagram</h6>
                            <span class="text-secondary">{{user.instagram}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-facebook mr-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook</h6>
                            <span class="text-secondary">{{user.facebook}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                    <img style="width: 13%;" src="https://dwglogo.com/wp-content/uploads/2020/06/Linkedin_symbol_transparent.png" alt="">
                                </svg>Linkedin</h6>
                            <span class="text-secondary">{{user.facebook}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-8">
                {% if user.role == 1 %}
                <h4> Egitmen </h4>
                {% endif %}
                <div class="card mb-3">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">İsim Soyisim</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.first_name}} {{user.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefon</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if user.telefon %}
                                ({{user.telefon[0:3]}}) {{user.telefon[3:6]}}-{{user.telefon[6:]}}
                                {% else %}
                                None
                                {% endif %}
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adres</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.adres}}
                            </div>
                        </div>
                        <hr>
                        {% if user.role == 1 %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Özgeçmiş</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{egitmen.ozgecmis}}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            
               
                <div class="row gutters-sm">
                    
                    <div class="col-sm-12 mb-3">
                        {% if user.role == 1 %}
                        <div class="card h-100">
                            <div class="card-body"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 ">

                                            <h4 class="fw-light text-dark">Verdiği Kurslar</h4>
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-2 col-decs ">
                                                {% for kurs in verilen_kurslar %}
                                                <div class="col">
                                                    <div class="card h-100 shadow-sm">
                                                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                                            xmlns="http://www.w3.org/2000/svg" role="img"
                                                            aria-label="Placeholder: Thumbnail"
                                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                                            <title>{{kurs.isim}}</title>
                                                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%"
                                                                   y="50%" fill="#eceeef" dy=".3em">Kurs fotosu</text>
                                                        </svg>
        
                                                        <div class="card-body">
                                                            <h4>{{kurs.isim}}</h4>
                                                            <p class="card-text">{{kurs.kisa_aciklama}}</p>
                                                            <p class="card-text">{{kurs.kategori}}</p>
                                                            <p class="card-text">{{user.first_name}}</p>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="btn-group">
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-dark btn-warning">Kursa git</a>
                                                                </div>
        
                                                                <small class="text-muted">tarih</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        {% endif %}
                        
                        

                        <div class="row gutters-sm">
                            <div class="col-sm-12 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="container">
                                            {%if self_profil == 1 %}
                                            <h4 class="fw-light text-dark">Kurslarım</h4>
                                            {% else %}
                                            <h4 class="fw-light text-dark">Aldığı Kurslar</h4>
                                            {% endif %}
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-2">
                                                {% for kurs in kurslar %}
                                                <div class="col ">
                                                    <div class="card h-100 shadow-sm">
                                                        <svg class="bd-placeholder-img card-img-top" width="100%"
                                                            height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                                            aria-label="Placeholder: Thumbnail"
                                                            preserveAspectRatio="xMidYMid slice" focusable="false">
                                                            <title>{{kurs.isim}}</title>
                                                            <rect width="100%" height="100%" fill="#55595c" /><text
                                                                x="50%" y="50%" fill="#eceeef" dy=".3em">Kurs
                                                                fotosu</text>
                                                        </svg>

                                                        <div class="card-body">
                                                            <h4>{{kurs.isim}}</h4>
                                                            <p class="card-text">{{kurs.kisa_aciklama}}</p>
                                                            <p class="card-text">{{kurs.kategori}}</p>
                                                            <p class="card-text">egitmenin ismi gelcek</p>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                    <a href="#" type="button"
                                                                        class="btn btn-outline-dark btn-warning">Kursa git</a>

                                                                <small class="text-muted">tarih</small>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                       
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</br>
</br>



 {% endblock %}