{% extends "temel.html" %} {% block title %}Hesap{% endblock %} {% block content
    %}

    <main>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">

                    <div class="container">

                        <h1 class="fw-light text-dark">Kurslarım</h1>
                        
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mt-2">
                            {% for kurs in kurslar %}
                            <div class="col">  
                                <div class="card p-1 h-100 shadow-sm">
                                    <img class="rounded" src="static/kurs_pics/{{kurs.image_file}}" alt="{{kurs.isim}}"
                                    class="rounded-rect" width="100%" height="225" >

                                    <div class="card-body">
                                            <h4>{{kurs.isim}}</h4>
                                            <p class="card-text">{{kurs.kisa_aciklama}}</p>
                                            <p class="card-text">Kategori: {{kurs.kategori}}</p>
                                            {% for egitmen in egitmenler %}
                                            {% if egitmen.id == kurs.egitmen_id %}
                                            <p>Eğitmen: {{egitmen.first_name}}</p>
                                            {% endif %}
                                            {% endfor %}
                                            <small class="text-muted">{{kurs.date}}</small>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a href="kurs_profil/{{kurs.id}}" type="button" class="btn btn-outline-dark btn-warning">Kursa git</a>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
        </div>
    </main>
    
    {% endblock %}